
body {
        background: url('img/bg.jpg') no-repeat center center fixed;
        background-size: cover;
    }
/* ! navbar */
.navbar-brand{
    font-family: Viga;
    font-size: 30px;
}
.nav-link{
    text-transform: uppercase;
}
.nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid darkmagenta;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}
.navbar-brand, .nav-link{
    color: white !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0,0.8);
}
.display-4{
    text-size-adjust: 50%;
}


.section{
        min-height: 420px;
    }



/* * DESKTOP VERSION */
